@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">KİTAPÇI ÖRNEK PROJE</h1>
</div>

<br /><br />

<div class="d-grid gap-2">
  <a href="/Authors/Index" class="btn btn-primary" type="button" style="background-color:#6f42c1">AUTHORS</a>
  <a href="/Books/Index" class="btn btn-primary" type="button" style="background-color:#fd7e14">BOOKS</a>
  <a href="/Categories/Index" class="btn btn-primary" type="button" style="background-color:#20c997">CATEGORIES</a>
  <a href="/Reports/Index" class="btn btn-primary" type="button" style="background-color:#adb5bd">REPORTS</a>
  <br />
  <a href="/Books/Create" class="btn btn-primary" type="button" style="background-color:#dc3545">TEST</a>
</div>