
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    
</head>
<body>
    
    <table id="authorTable">
        <thead>
            <tr>
                
                <th>Name</th>
                <th>Birthday</th>
                <th>Books</th>
                <th class="nosort">Actions</th>
            </tr> 
        </thead>
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" id="modalButton_add" onclick="addButtonClick()">Add Author</button>
    </div>

<div id="editModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Author</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Html.Partial("PartialEdit")
      </div>
    </div>
  </div>
</div>

<div id="addModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Author</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Html.Partial("PartialCreate")
      </div>
    </div>
  </div>
</div>

<div id="booksModal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Author's Books</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @Html.Partial("PartialShowbooks")
      </div>
    </div>
  </div>
</div>








<script src="~/js/Author/main.js"> </script>


</body>

</html>




