
<form class="form-group">
    <label>Name</label><br />
    <input type="text" id ="getName"/><br />
    <label>Birthday</label><br />
    <input type="date" id ="getBday"/><br />
    <input type="hidden" id ="getID"/>
</form>
<button class="btn-primary btn-primary" onclick="editButtonClick()">Submit</button>


<script>
    function editButtonClick(){
        var obj={};
            obj.authorName = $("#getName").val();
            
        if(obj.authorName==""){
            alert("Name must be filled.");
        }
        else{
            obj.authorID = $("#getID").val();
            obj.authorBday = $("#getBday").val();
            $.ajax({
                url:"/Authors/Edit",
                type:"POST",
                data:obj
            }).done(function(data){
                editM.style.display = 'none';
                authorDataTable.ajax.reload();
            });
        }
            
    }
    
</script>
