
<form class="form-group">
    <input type="text" class="form-control" placeholder="Name" id="authorName"/>
    <input type="date" class="form-control" placeholder="Birthday" id="authorBday"/>
</form>
    <button id = "authorAdd" class="btn btn-primary">Add</button>

<script>
    $(function(){
        $("#authorAdd").click(function(){
            var obj = {};
            obj.authorName = $("#authorName").val();
            obj.authorBday = $("#authorBday").val();
            $.ajax({
                url: "/Authors/Create",
                type: "POST",
                data: obj
            }).done(function (data){
                addM.style.display = 'none';
                authorDataTable.ajax.reload();
            });
        });
    });
</script>
