


@using Entity_Layer
@model List<Books>
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
    $(document).ready( function () {
    $('#bookTable').DataTable({
        order: [[ 0, "asc" ]],
        columnDefs: [
            {
            targets: ["nosort"],
            orderable: false
            }
        ]
    });
    } );
    </script>
</head>
<body>
    <table id="bookTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pages</th>
                <th>Price</th>
                
            </tr> 
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            
                <tr>
                    <td>@item.bookName</td>
                    <td>@item.bookPages</td>
                    <td>@item.bookPrice tl</td>
                </tr>
        
            }
            
        </tbody>
    </table>
    <a href="/Books/Create" class="btn btn-light">Add Book</a>
</body>
</html>
