@using Entity_Layer
@model Categories
@{
    Layout = null;
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<form class="form-group">
    <input type="text" placeholder="Name" id="categoryName"/>
</form>
    <button class="btn btn-primary" id = "add_button">Add</button>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function(){
        $("#add_button").click(function(){
            var obj = {};
            obj.categoryName = $("#categoryName").val();
            $.ajax({
                url:  '@Url.Action("Create", "Categories")',
                type: "POST",
                data: obj
            }).done(function (data){
                alert("success");
            });
        });
    });
</script>
