@using Entity_Layer
@model List<Categories>
@{
    Layout = null;
}


<h1>Category Listeleme</h1>

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link href="//cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="//cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script>
    let partial_id;
    let categoryDataTable;
    let bookDataTable;
    $(function(){

    categoryDataTable = $('#categoryTable').DataTable({
       "columns": [
				
				    { "data": "categoryName", "sType": "string", orderable:true },
                    { "data": "categoryID", "sType": "num", orderable: false,
                        "render": function (data, type, full, meta) {
						        if (data != null && (type == 'display' || type == 'filter')){
                                    
							        return "<button type='button' onclick='LoadCategoryBooks("+data+",\""+full.categoryName+"\")'>Books</button>";
                                }
						        return data;
					        }
                    },
                    { "data": "categoryID", "sType": "num", orderable: false,
                        "render": function (data, type, full, meta) {
						        if (data != null && (type == 'display' || type == 'filter')){
                                    return "<button onclick='editModalClick("+data+",\""+full.categoryName+"\")' class='btn btn-warning'>Edit</button>"+
                                            "<button onclick='deleteCategory("+data+")' class='btn btn-danger'>Delete</button>";
                                }
						        return data;
					        }
                    },
                  ],  




                "ajax": function (data, callback, settings) {
                    obj = {};
		            $.ajax({
                        url: "/Categories/GetAllCategories",
                        type: "GET",
                        data: obj
                    }).done(function (data){
                        console.log(data);
                
                    
                        callback({"data":data});
                   }) // a_done
		        } //a_funct
    
    
        }); // dt


        
        bookDataTable = $('#categoryBookTable').DataTable({
        
        

        "columns": [
				{ "data": "bookName", "sType": "string", orderable:true },
				{ "data": "bookPages", "sType": "num", orderable:true },
                { "data": "bookPrice", "sType": "num", orderable: true },
                { "data": "authorName", "sType": "string", orderable: true },
				
			],
        "ajax": function (data, callback, settings) {
            obj = {};
		    $.ajax({
                url: "/Categories/GetCategoryBooks/"+partial_id,
                type: "GET",
                data: obj
            }).done(function (data){
                console.log(data);
                
                    
                callback({"data":data});
		    }) //done
	        }

        }); // datatables



    }); // f
    


    
    </script>
</head>
<body>
    <table id="categoryTable">
        <thead>
            <tr>
                <th>Name</th>
                <th class="nosort">Books</th>
                <th class="nosort">Actions</th>
            </tr> 
        </thead>
        
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
      
        <button onclick="addModalClick()" class="btn btn-primary">Add Category</button>
    </div>


<div id="categoryBooksModal" class="modal">
  <div class="modal-content">
    @Html.Partial("PartialShowBooks")
  </div>
</div>

<div id="addModal" class="modal">
      <div class="modal-content">
        @Html.Partial("PartialCreate")
      </div>
</div>

<div id="editModal" class="modal">
      <div class="modal-content">
        @Html.Partial("PartialEdit")
      </div>
</div>


</body>

<script>
    var categoryM = document.getElementById("categoryBooksModal");
    var addM = document.getElementById("addModal");
    var editM = document.getElementById("editModal");
    
    

    function LoadCategoryBooks(ID,catName){
        console.log("içerde")
        partial_id=ID;
        document.getElementById("name4Partial").innerHTML = catName+" Kitapları";
        bookDataTable.ajax.reload();
        categoryM.style.display = "block";

    }

    function addModalClick(){
        addM.style.display = "block";
    }
    function editModalClick(ID,Name){
        $("#getName").val(Name);
        $("#getID").val(ID);
        editM.style.display = "block";
        
    }
    function deleteCategory(ID){
        obj = {};
		    $.ajax({
                url: "/Categories/Delete/"+ID,
                type: "POST",
                data: obj
            }).done(function (data){
                categoryDataTable.ajax.reload();
		    })
    }

    
    //
    window.onclick = function (event){
        if(event.target==categoryM){
            categoryM.style.display = "none";
        }
        if(event.target==addM){
            addM.style.display = "none";
        }
        if(event.target==editM){
            editM.style.display = "none";
        }
        
    }


    //
    
</script>

</html>