@{
    Layout = null;
}


<form class="form-group">
    <input type="text" placeholder="Name" id="categoryName"/>
</form>
    <button class="btn btn-primary" onclick = "addButtonClick()">Add</button>

<script>
    function addButtonClick(){
        var obj = {};
            obj.categoryName = $("#categoryName").val();
        if(obj.categoryName==""){
            alert("Name must be filled.");
        }
        else{
            $.ajax({
                url:  "/Categories/Create",
                type: "POST",
                data: obj
            }).done(function (data){
                
                addM.style.display="none";
                categoryDataTable.ajax.reload();
            });
        }
        
            
    }
    
</script>
