
@{
    ViewData["Title"] = "Index";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h1>Report Listeleme</h1>

<canvas id="chartCategory"></canvas>

  
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function(){
        createBookAuthorChart();
    });


    function createBookAuthorChart() {
        $.ajax({
            url: "/Reports/GetFirstChart"
        }).done(function (data) {
            console.log(data)
            var categories = [];
            var sums = [];
            for (var i = 0; i < data.length; i++) {
                categories.push(data[i].categoryName);
                sums.push(data[i].sumCategory);
            }
            var catCanvas = document.getElementById('chartCategory');
            var catChart = new Chart(catCanvas, {
                type: 'bar',
                data: {
                    labels: categories,
                    datasets: [{
                        label: 'Categories',
                        data: sums,
                        hoverOffset: 4
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    },
                },
            });
        });
    }


</script>