
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    
</head>
<body>
    <div class="d-grid gap-2 col-6 mx-auto">
      
        <form>
        
            <span>Category</span><br>
            <select id="categorySelect"></select><br />
            <label>Minimum Price</label>
            <input type="tel" id="getMinPrice"/>
            <label>Maximum Price</label>
            <input type="tel" id="getMaxPrice"/>
        </form>
        <br />
            <div class="btn-group btn-group-lg" role="group">
                <button class="btn btn-success col-6" onclick="FilterClick()">Apply</button>
                <button class="btn btn-warning col-2" onclick="FilterRemove()">Clear</button>
            </div>
            
        

      
    </div>
    
    <br /><br /><br />
    <table id="bookTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pages</th>
                <th>Price ($)</th>
                <th>Author</th>
                <th>Category</th>
                <th class="nosort">Actions</th>
                
            </tr> 
        </thead>
        
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
      
      <button onclick="AddModalClick()" class="btn btn-primary">Add Book</button>
    </div>

    <div id="addModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">New Book</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            @Html.Partial("PartialCreate")
          </div>
        </div>
      </div>
    </div>

    <div id="editModal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Edit Book</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            @Html.Partial("PartialEdit")
          </div>
        </div>
      </div>
    </div>

    <script src="~/js/Book/main.js"></script>
</body>
</html>



