
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Books</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    
    
    <script>
    let bookDataTable;
    let select_category;
    let categorySelectize;


    $(function(){
        CreateCategorySelectize();
        categorySelectize = select_category[0].selectize;
        LoadCategorySelectize();
        bookDataTable = $('#bookTable').DataTable({
            
                "columns": [
				
				    { "data": "bookName", "sType": "string", orderable:true },
                    { "data": "bookPages", "sType": "num", orderable: true },
                    { "data": "bookPrice", "sType": "num", orderable: true },
                    { "data": "authorName", "sType": "string", orderable: true },
                    { "data": "categoryNames", "sType": "string", orderable: true,
                        "render": function (data, type, full, meta) {
						        if (data != null && (type == 'display' || type == 'filter')){
                                    var categoryList = ""+data[0];
                                    for(let i=1;i<data.length;i++) {
                                        categoryList += ", " + data[i];
                                    }
							        return "<span>"+categoryList+"</span>";
                                }
						        return data;
					        }
                    },
				    { "data": "bookID", "sType": "num", orderable:false,
                        "render": function (data, type, full, meta) {
                                console.log(full);
						        if (type == 'display' || type == 'filter')
							        return "<button onclick='editModalClick( "+data+" , \""+full.bookName+"\" ,"+full.bookPages+","+full.bookPrice+","+full.authorID+","+full.categoryIDs+")' class='btn btn-warning'>Edit</button>"+
                                            "<button onclick='deleteBook("+data+")' class='btn btn-danger'>Delete</button>";
						        return data;
					        }
                    },
			    ],




                "ajax": function (data, callback, settings) {
                    obj = {};
                    obj.categoryIDs = $("#categorySelect").val();
                    obj.minPrice = $("#getMinPrice").val();
                    obj.maxPrice = $("#getMaxPrice").val();
		            $.ajax({
                        url: "/Books/GetAllBooks",
                        type: "POST",
                        data: obj
                    }).done(function (data){
                        //console.log(data);
                        
                    
                        callback({"data":data});
                   }) // a_done
		        } //a_funct







            }); // DT
    
    });




    function CreateCategorySelectize(){
                    select_category = $("#categorySelect").selectize({
                    create: false,
                    valueField: 'categoryID',
                    sortField: 'categoryName',
                    labelField: "categoryName",
                    searchField: "categoryName",
                    maxItems: 3,
                });
            }

            function LoadCategorySelectize(){
                obj = {};
                $.ajax({
                    url: "/Books/getCategories",
                    type: "GET",
                    data: obj
                }).done(function (data){
                    
                    for (var i =0;i<data.length;i++){
                        categorySelectize.addOption(data[i]);
                    }
                    categorySelectize.refreshOptions();
                });
            }
    </script>
</head>
<body>
    <div class="d-grid gap-2 col-6 mx-auto">
      
        <form>
        
            <span>Category</span><br>
            <select id="categorySelect"></select><br />
            <label>Minimum Price</label>
            <input type="number" id="getMinPrice"/>
            <label>Maximum Price</label>
            <input type="number" id="getMaxPrice"/>
        </form>
        <br />
            <div class="btn-group btn-group-lg" role="group">
                <button class="btn btn-success col-6" onclick="FilterClick()">Apply</button>
                <button class="btn btn-warning col-2" onclick="FilterRemove()">Clear</button>
            </div>
            
        

      
    </div>
    
    <br /><br /><br />
    <table id="bookTable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Pages</th>
                <th>Price</th>
                <th>Author</th>
                <th>Category</th>
                <th class="nosort">Actions</th>
                
            </tr> 
        </thead>
        
    </table>
    <div class="d-grid gap-2 col-6 mx-auto">
      
      <button onclick="AddModalClick()" class="btn btn-primary">Add Book</button>
    </div>

    <div id="addModal" class="modal">
      <div class="modal-content">
        @Html.Partial("PartialCreate")
      </div>
    </div>

    <div id="editModal" class="modal">
      <div class="modal-content">
        @Html.Partial("PartialEdit")
      </div>
    </div>

</body>
</html>

<script>
    var addM = document.getElementById("addModal");
    var editM = document.getElementById("editModal");
    function FilterClick(){
        bookDataTable.ajax.reload();
    }
    
    function FilterRemove(){
        categorySelectize.setValue(null);
        $("#getMinPrice").val(null);
        $("#getMaxPrice").val(null);
       bookDataTable.ajax.reload() ;
        
        
    }

    function AddModalClick(){
        addM.style.display = "block";
    }
    function deleteBook(ID){
        obj = {};
		    $.ajax({
                url: "/Books/Delete/"+ID,
                type: "POST",
                data: obj
            }).done(function (data){
                bookDataTable.ajax.reload();
		    })
    }
    window.onclick = function(event){
        if( event.target == addM){
            addM.style.display = "none";
        }
        else if( event.target == editM){
            editM.style.display = "none";
        }
    }


    function editModalClick(ID,Name,Page,Price,Author,...Categories){
        $("#edit_getID").val(ID);
        $("#edit_getName").val(Name);
        $("#edit_getPages").val(Page);
        $("#edit_getPrice").val(Price);
        E_AuthorSelectize.setValue(Author,false);
        console.log(Categories);
        E_CategorySelectize.setValue(Categories,false);
     

        editM.style.display = "block";
    }
    
</script>


