
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<html>
    <head>
        
        <script>
            var select_author;
            $(function () {
                 CreateAuthorSelectize();
                 LoadAuthorSelectize();
                 Part_Create_Cat_Select();
                 Part_Load_Cat_Select();
             });
            function CreateAuthorSelectize(){
                    select_author = $("#authorSelect").selectize({
                    create: false,
                    valueField: 'authorID',
                    sortField: 'authorID',
                    labelField: "authorName",
                    searchField: "authorName",
                    
                });
            }
            
            function LoadAuthorSelectize(){
                obj = {};
                $.ajax({
                    url: "/Books/getAuthors",
                    type: "GET",
                    data: obj
                }).done(function (data){
                    
                    for (var i =0;i<data.length;i++){
                        select_author[0].selectize.addOption(data[i]);
                    }
                    select_author[0].selectize.refreshOptions();
                });
            }

            function Part_Create_Cat_Select(){
                    select_category = $("#partialCategorySelect").selectize({
                    create: false,
                    valueField: 'categoryID',
                    sortField: 'categoryID',
                    labelField: "categoryName",
                    searchField: "categoryName",
                    maxItems: 3,
                });
            }

            function Part_Load_Cat_Select(){
                obj = {};
                $.ajax({
                    url: "/Books/getCategories",
                    type: "GET",
                    data: obj
                }).done(function (data){
                    
                    for (var i =0;i<data.length;i++){
                        select_category[0].selectize.addOption(data[i]);
                    }
                    select_category[0].selectize.refreshOptions();
                });
            }
        </script>
    </head>
    <body>

        <form class="form-group">

            <input type="text" placeholder="Name" id="getName"/><br />
            <input type="number" placeholder="Pages" id="getPages"/><br />
            <input type="number" placeholder="Price" id="getPrice"/><br />
            <span>Author</span><br>
            <select id="authorSelect">
                
            </select><br />
            <span>Category</span><br>
            <select id="partialCategorySelect"></select><br />
    
    
    

        </form>
            <button class="btn btn-primary" onclick="AddBook()">Add</button>
    </body>
</html>

<script>
    function AddBook(){
        obj={};
        obj.bookName = $("#getName").val();
        obj.bookPages = $("#getPages").val();
        obj.bookPrice = $("#getPrice").val();
        obj.authorID = $("#authorSelect").val();
        obj.categoryIDs = $("#partialCategorySelect").val();
        $.ajax({
            url:"/Books/Create",
            type: "POST",
            data: obj
        }).done(function(data){
            addM.style.display = "none";
            bookDataTable.ajax.reload();
        });
    }
</script>