

<html>
    <head>
        
    </head>
    <body>
        <h1>Edit</h1>

        <form>
            
            <input type="hidden" id ="edit_getID"/><br />
            <label>Name</label><br />
            <input type="text" id ="edit_getName"/><br />
            <label>Pages</label><br />
            <input type="text" id ="edit_getPages"/><br />
            <label>Price</label><br />
            <input type="text" id ="edit_getPrice"/><br />
            <label>Author</label><br />
            <select id ="E_authorSelect"></select><br />
            <label>Category</label><br />
            <select id ="E_categorySelect"></select><br />
        </form>
        <button class="btn-primary btn-primary" onclick="partialEditButton()">Submit</button>
        <script src="~/js/Book/partialEdit.js"></script>
    </body>
</html>



