
<html>
    <head>
        
        <script>
            
        </script>
    </head>
    <body>

        <form class="form-group">

            <input type="text" placeholder="Name" id="getName"/><br />
            <input type="number" placeholder="Pages" id="getPages"/><br />
            <input type="number" placeholder="Price" id="getPrice"/><br />
            <span>Author</span><br>
            <select id="authorSelect">
                
            </select><br />
            <span>Category</span><br>
            <select id="partialCategorySelect"></select><br />
    
    
    

        </form>
            <button class="btn btn-primary" onclick="AddBook()">Add</button>
        <script src="~/js/Book/partialCreate.js"></script>
    </body>
</html>
